.navbar{
    width: 100%;
    height: 10vh;
    background-color: var(--navBar);
    display: flex;
    flex-direction: row;
        --links: #FDC37F;
        --navBar: rgb(17, 17, 17);
        --textColor:  #dadada;
}

.navbar .leftSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.navbar .leftSide img{
    width: 50px;
    height: 50px;

}

.navbar .rightSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a{
    color: var(--links);
    text-decoration: none;
    margin: 20px;
}
.navbar a:hover{
    color: white;
    transition: 0.5s ease-in-out;
}
.navbar .rightSide button{
    background-color: transparent;
    color: var(--links);
    cursor: pointer;
    border: none;
}
.navbar #open{
    padding-left: 0px;
}

.navbar #open img{
    display: none;
}
.navbar #close img{
    display: inherit;
}

.navbar #open .hiddenLinks{
    display: inherit;
    margin-left: 30px;
}

.navbar #close .hiddenLinks{
    display: none !important;
}

.navbar #open a{
    width: 70px;
    margin: 5px;
}

@media only screen and (max-width: 900px){
    .navbar .rightSide a{
        width: 70px;
        
    }

    .navbar .leftSide{
        padding-left: 50px;
    }
}

@media only screen and (max-width:600px){
    .navbar{
        background-color: black;
    }
    .navbar .rightSide a{
        display: none;
    }
    .navbar .rightSide{
        
        justify-content: center;
        background-color: black;
        padding-right: 0px;
    }
   
    .navbar .rightSide button{
        display: inherit;
        
    }
    .navbar #open .hiddenLinks{
        margin: 0px;
        

    }
    
}

@media only screen and (min-width: 600px){
    
    .navbar .rightSide button{
        display: none;
    }
    .hiddenLinks{
        display: none;
    }
}